<%- include ('partials/header') %>
<style>
#results{
  width: 80%;
  font-size: 0.9em;
  margin-top: 10%;
}
.navbar-theme-transparent{
  background-color: #020202 !important;
}
li{
  margin-top: 3em;
}
#results ul{
  border: 2px solid #f3f3f3;
  padding: 1em;
  list-style-type: none;
}
</style>
<% data.forEach((dat)=>{ %>
  <div id="results" class="container">
    <%  dat.origin_destinations.forEach((destination)=>{  %>
    <div class="row">
      

        <div class="col-lg-3 col-md-3">
            <p style="font-weight: 600"><%=destination.segments[0].operating_airline.name%></p>
        </div>
        
            <div class="col-lg-6 col-md-6" style="border-right:0.1px solid #f2f2f2;">
            <ul>
              <%  destination.segments.forEach((segment)=>{ %>
       
            <li>
              <p class="text-center text-danger" style="font-size:1.5em;">Departure</p>
                    <p class="text-left"><%=segment.departure.airport.name%></p>
                    <p class="text-right">
                      <span><%= (new Date(`'${segment.departure.date}'`)).toDateString()%></span>
                      <span><%=segment.departure.time%></span>           
                     </p>
                     <p>
                        <%segment.cabins.forEach((cabin)=>{ %>
                          <span class="badge badge-secondary"><%=cabin.res_book_desig_cabin_name%></span>
                      <%  }) %>
                      </p>
                     <hr>
              <p class="text-center text-success" style="font-size:1.5em;">Arrival</p>

                     <p class="text-left"><%=segment.arrival.airport.name%></p>
                     <p class="text-right">
                       <span><%= (new Date(`'${segment.arrival.date}'`)).toDateString()%></span>
                       <span><%=segment.arrival.time%></span>           
                      </p>
                 
            </li>
              <% }) %>
            
          </ul>
     </div>
    
        <div>
                <div class="col-lg-3 col-md-3">
                        <p class="text-center" style="font-weight: 600; font-size: 0.8em;">
                          <span><%=dat.pricing.provider.currency.code%> <%=(dat.pricing.provider.total_fare).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%></span>
                          
                        </p>

                    </div>
        </div>
    </div>
   <% }) %>

  </div>
<% }) %>
<%- include ('partials/footer') %>
    